<html ng-app="quadcopter">
<head>
	
	
	{% load staticfiles %}
	<script src="{% static "CommunicationLink/jquery-2.1.0.min.js" %}"></script> 
	
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular-resource.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.5/angular-route.min.js"></script>
	
	<script src="{% static "CommunicationLink/canvasjs-1/canvasjs.min.js" %}"></script>
	<script src="{% static "CommunicationLink/client.js" %}"></script> 
	
	<style type="text/css">
			body {
				font-family: "helvetica";
				color : #333;
			}
			.chart {
				float:left;
				width: 50%;
				height:400px;
			}
	</style>
	<title>
		Communication Link
	</title>
</head>
<body>
<div id="controller" ng-controller="DataCtrl">

		<div id="xContainer" style="height: 300px; width:30%; display:inline-block;">
		</div>
		<div id="yContainer" style="height: 300px; width:30%; display:inline-block;">
		</div>
		<div id="zContainer" style="height: 300px; width:30%; display:inline-block;">
		</div>
</div>
</body>
</html>