.mobileMargin
{
 margin-left:2%;
 margin-top:-3%;

}

/*Content is two columns, left and right (contentLeft and contentRight, these being float so they're located next to each other.)*/
.content/*No set height since height isen't know and might be bigger than windowsize*/
{
width:100%;
margin-top:30px;

}

.contentLeft/*Left side of content*/
{
margin-top:10px;
margin-left:4%;
width:55%;
float:left;/*Floating, putting both contentLeft and contentRight next to each other*/

}

.contentRight/*Right side of content*/
{	
margin-top:10px;
margin-right:4%;	
width:35%;
float:left;/*Floating, putting both contentLeft and contentRight next to each other*/
}

.contentBig/*Fullscreen mode of content*/
{
margin-top:10px;
margin-left:4%;
margin-right:4%;
width:92%;
}


/*Dividers, blue line between contents*/
.contentDividerRight
{
border-style:solid;
border-right:0px;
border-top:0px;
border-bottom:0px;
border-color:#3A66A7;
}

.contentDividerLeft
{
border-style:solid;
border-left:0px;
border-top:0px;
border-bottom:0px;
border-color:#3B6AA0;
}
