.frame {/*Standard frame, seen on slideshow, video and map*/
	margin-left:15px;
	margin-right:15px;
height:50%;
padding:4px;
position:relative;
background-color:#E3E3E3;
border-radius:5px;
/*box-shadow:  2px 2px 5px #888888;*/
}
.frameGraphs {/*Standard frame, seen on slideshow, video and map*/
overflow: auto;
	margin-left:15px;
	margin-right:15px;
padding:4px;
padding-top:0px;
position:relative;
background-color:#E3E3E3;
border-radius:5px;

/*box-shadow:  2px 2px 5px #888888;*/
}
.frameGraphsBig {/*Standard frame, seen on slideshow, video and map*/
width:calc(100% - 37px);
overflow: auto;

margin-left:15px;
margin-right:15px;
padding:4px;
padding-top:0px;
position:relative;
background-color:#E3E3E3;
border-radius:5px;

/*box-shadow:  2px 2px 5px #888888;*/
}

.frameText {/*frame for text*/
margin-left:15px;
margin-right:15px;
position:relative;
padding:4px;
margin-bottom:5%;
background-color:#EBEBEB;
border-radius:5px;
/*box-shadow:  2px 2px 5px #888888;*/
}

.frameTextBottom {/*Frame for text at bottom of page, less margin down.*/
margin-left:15px;
margin-right:15px;
position:relative;
padding:4px;
background-color:#EBEBEB;
border-radius:5px;
/*box-shadow:  2px 2px 5px #888888;*/
}

.frameBig {/*Frame for fullscreen views*/
margin-right:15px;
margin-left:15px;
padding:4px;
height:90%;
position:relative;
background-color:#E3E3E3;
border-radius:5px;
/*box-shadow:  1px 1px 3px #888888;*/
}

/*CSS for painting graphs*/
.graph
{/*small view of graphs*/
	margin: 0% 3% 6% 3% ;
	width:44%;
	height:46%;
	float:left;


z-index:30;/*Making it go below footer and header when scrolled*/
}
.graphT
{/*small view of graphs*/
	margin: 3%;
	width:44%;
	height:44%;
	float:left;


z-index:30;/*Making it go below footer and header when scrolled*/
}
.graphBig
{/*fullscreen view of graphs*/
height:62%;
width:46%; 
margin:2%;
float:left;
z-index:30;/*Making it go below footer and header when scrolled*/
}

/*animations of graphs when hiding them*/
.graphLeft.ng-hide-add,
.graphLeft.ng-hide-remove {
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  transition: all linear 0.4s;
  display: block!important;
}
.graphLeft.ng-hide-add.ng-hide-add-active,
.graphLeft.ng-hide-remove {
  opacity: 0;
}
.graphLeft.ng-hide-add,
.graphLeft.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

/*Google map container*/
.angular-google-map-container 
{ 
height:100%;
width:100%; 
}

/*Screen = CSS for video and google map, slide = CSS for slideshow, frame = the frame around Screen and Slide.*/
.screen {
width:94%;
height:90%;	
position:absolute;
top:5%;
left:3%;
}

.slide {	
	
	width:94%;
	height:90%;
	position:absolute;
	left:3%;
	top:5%;
}
/*slideshow animation*/
.slide.ng-hide-add,
.slide.ng-hide-remove {
  -webkit-transition: all linear 1s;
  -moz-transition: all linear 1s;
  -o-transition: all linear 1s;
  transition: all linear 1s;
  display: block!important;
}
.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
  opacity: 0;
}
.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

.mapMargin
{
	margin-top:3%;
}
