/*For putting the footer at absolute bottom*/
html, body {
height:100%;
width:100%;
margin:0px 0px 0px 0px;
padding:0 0 0 0;

/*background-color:#DBDBDB;*/
background-color:#F2F2F2;
font-family:Georgia;
color:#333;
}

input,button
{
margin-left:2%;
text-align:left;
}

button
{
margin-bottom:25px;	
}

video 
{
margin:0;
background-color:black;
}

h1
{
color:#104E8B;
font-family:lucida grande;
}

p
{
/*Larger space between p tags*/
margin: 0px 2% 25px 2%;
padding:0px;
text-align:left;
}

h3
{
margin: 2% 10px 20px 2%;
padding:0px;

font-family:lucida grande;
color:#104E8B;
font-size:17px;
text-align:left;
}

h5
{
margin: 2% 10px 7px 2%;
padding:0px;
color:#3A66A7;

line-height:30%;
text-align:left;
}



/*Pushing down content so footer is placed at bottom even if content isen't filling up the page*/
.push {
clear:both;
height:136px;
width:100%;
bottom:0;
right:0;
left:0;


}

.wrapper {
min-height: 100%;
width:100%;
margin: 0 auto -136px;
}

/*Footer, menu CSS. Hover = hovering over a menuitem, menuItem = a clickable link in menu.*/
.menu
{
width:100%;/*Border at the bottom of the border, 1px*/ 
height:90px;
background: -webkit-linear-gradient(#EBEBEB, #D6D6D6); /* For Safari 5.1 to 6.0 */
background: -o-linear-gradient(#EBEBEB, #D6D6D6); /* For Opera 11.1 to 12.0 */
background: -moz-linear-gradient(#EBEBEB, #D6D6D6); /* For Firefox 3.6 to 15 */
background: linear-gradient(#EBEBEB, #D6D6D6); /* Standard syntax */
text-align:center;/*putting the text at the middle of the item widthwise*/
top:0;
right:0;
left:0;
z-index:10;
position:relative;
box-shadow:  2px 2px 5px #888888;
}

/*footer items*/
.footer{
clear:both;
width:100%;
height:136px;
background-color:#424242;/*#3B6AA0*/
margin-top:15px;
margin-right:0%;
text-align:center;/*putting the text at the middle of the item widthwise*/
position:relative;
z-index:10;
bottom:0;
right:0;
left:0;
border-style:solid;/*Border at the top of the border, 1px*/ 
border-left:0px; 
border-right:0px;
border-bottom:0px;
border-width:1px;
border-color:black;
}

.footerItem 
{
color:white;
left:30px;
margin-top:40px;	
position:absolute;	
font-size:12px;
font-family:sans-serif;
}

.green
{
color:#458B00;
display:inline;
}

/* Menu items (clicked is the chososen tab, hover is hover..)*/
.menuItem
{ 
height:25%;
margin-left:1%;
margin-right:1%;
padding-left:1%;
padding-right:1%;
float:left;
position:relative;
vertical-align:bottom;
margin-top:62px;
text-height:25%;
font-family:sans-serif;	
}

.hover
{ 
background-color:#C7C7C7;
border-radius:3px;
cursor: pointer;
padding-top:4px;
margin-top:58px;
height:25%;
float:left;
vertical-align:bottom;
position:relative;
padding-left:1%;
padding-right:1%;
}

.clicked
{ 
margin-top:1px;
color:#3A66A7;
background-color:#3A66A7;
border-color:#3A66A7;
height:1px;
border-width:1px;
border-top:0;
border-left:0;
border-radius:1px;
padding:0;
}

.menuLine {
height:17px;
margin-top:65px;
float:left;
border-style:solid;
border-right:0;
border-top:0;
border-bottom:0;
border-width:2px;
color:#345e8d;
}

/*Login popup div classes*/
.popupContent{
padding: 10px 10px 20px 10px;
width:750px;
height:350px;
z-index:12;
/*=== Center popup both vertical and horizontal ===*/
position:absolute;
left:50%;
top:50%;
margin: -175px 0px 0px -375px;
/*====================*/
background-color: rgba(242, 242, 242, 1); /* #F2F2F2 in hex, rgba doesn't support hex parameter */
border-radius:5px;
overflow: hidden;
}

.popupContentSides{
width:100%;
height:100%;
z-index:11;
position:fixed;
top:0;
left:0;
background-color: rgba(0, 0, 0, 0.5);
}

.popupContentLeft{
background-color: rgba(242, 242, 242, 1); /* #F2F2F2 in hex, rgba doesn't support hex parameter */
text-align: left;
float:left;
width:40%;
margin:0;
}

.popupContentRight{
margin:0;
background-color: rgba(242, 242, 242, 1); /* #F2F2F2 in hex, rgba doesn't support hex parameter */
float:right;
width:59%;
text-align: left;
}



.mobileMargin
{
 margin-left:2%;
 margin-top:-3%;

}

/*Content is two columns, left and right (contentLeft and contentRight, these being float so they're located next to each other.)*/
.content/*No set height since heiht isen't know and might be bigger than windowsize*/
{
width:100%;
margin-top:30px;

}

.contentLeft
{
margin-top:10px;
/*margin-bottom:10px;*/
margin-left:4%;
width:55%;
float:left;/*Floating, putting both contentLeft and contentRight next to each other*/

}
.contentBig
{
margin-top:10px;
margin-left:4%;
margin-right:4%;
/*margin-bottom:30px;*/
width:92%;
float:left;/*Floating, putting both contentLeft and contentRight next to each other*/
}

.contentRight
{	
margin-top:10px;
margin-right:4%;	
width:35%;
float:left;
}


.contentDividerRight
{
border-style:solid;
border-right:0px;
border-top:0px;
border-bottom:0px;
border-color:#3A66A7;
/*margin-bottom:5%;*/
}

.contentDividerLeft
{
border-style:solid;
border-left:0px;
border-top:0px;
border-bottom:0px;
border-color:#3B6AA0;
}

/*Different text CSS, regular, headings...*/

.checkboxText {
margin-left:0%;
font-size:90%;
line-height:110%;
margin-bottom:2px;
display:block;
text-align:left;
font-family:lucida grande;
}


.buttonEnlargeReduce
{
margin-left:5%;
margin-bottom:25px;
}

.Link
{
cursor: pointer;
}

/*Google map container*/
.angular-google-map-container 
{ 
height:100%;
width:100%; 
}

/*Screen = CSS for video and google map, slide = CSS for slideshow, frame = the frame around Screen and Slide.*/
.screen {
width:90%;
height:90%;	
position:absolute;
top:5%;
left:5%;
}

.slide {	
width:90%;
height:90%;	
position:absolute;
top:5%;
left:5%;
}

.slide.ng-hide-add,
.slide.ng-hide-remove {
  -webkit-transition: all linear 1s;
  -moz-transition: all linear 1s;
  -o-transition: all linear 1s;
  transition: all linear 1s;
  display: block!important;
}
.slide.ng-hide-add.ng-hide-add-active,
.slide.ng-hide-remove {
  opacity: 0;
}
.slide.ng-hide-add,
.slide.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}

.inputbox{
font-size:18px;
font-family:Georgia;
color:#333;	
height:30px;
width:150px;
margin-bottom:10px;
/*background-color:#F2F2F2;*//* #F2F2F2 in hex, rgba doesn't support hex parameter */
}

.button{
padding-top:7px;
padding-bottom:7px;
font-family:Georgia;
font-color:#3A66A7;
color:#3A66A7;	
font-size:14px;
text-align:left;
}




.frame {
width:90%;
height:50%;
padding:;
position:relative;
/*background-color:#CCCCCC;*/
background-color:#E3E3E3;
border-radius:10px;
/*box-shadow:  2px 2px 5px #888888;*/
}
.frameText {
	
width:90%;
position:relative;
padding:4px;
margin-bottom:5%;
/*background-color:#CCCCCC;*/
background-color:#E3E3E3;
border-radius:10px;
/*box-shadow:  2px 2px 5px #888888;*/
}
.frameTextBottom {
width:90%;
position:relative;
padding:4px;

/*background-color:#CCCCCC;*/
background-color:#E3E3E3;
border-radius:10px;
/*box-shadow:  2px 2px 5px #888888;*/
}

.frameBig {/*Frame for mobile devices (small screen)*/
width:90%;
height:90%;
position:relative;
/*background-color:#CCCCCC;*/
background-color:#E3E3E3;
border-radius:10px;
/*box-shadow:  1px 1px 3px #888888;*/
}

/*CSS for painting graphs*/
.graph
{
height:40%;
width:44%; 
display:inline-block; 
margin-bottom:4%;
margin-left:2%; 
margin-right:2%;
z-index:30;/*Making it go below footer and header when scrolled*/
}

.graphBig
{
height:60%;
width:44%; 
display:inline-block; 
margin-bottom:4%;
margin-left:2%; 
margin-right:2%;
z-index:30;/*Making it go below footer and header when scrolled*/
}
.graphLeft.ng-hide-add,
.graphLeft.ng-hide-remove {
  -webkit-transition: all linear 0.4s;
  -moz-transition: all linear 0.4s;
  -o-transition: all linear 0.4s;
  transition: all linear 0.4s;
  display: block!important;
}
.graphLeft.ng-hide-add.ng-hide-add-active,
.graphLeft.ng-hide-remove {
  opacity: 0;
}
.graphLeft.ng-hide-add,
.graphLeft.ng-hide-remove.ng-hide-remove-active {
  opacity: 1;
}
