/*For putting the footer at absolute bottom*/
html, body {
height:100%;
width:100%;
margin:0px 0px 0px 0px;
padding:0;
/*background-color:#DBDBDB;*/
background-color:#F2F2F2;
font-family:Georgia;
color:#333;
}
video {
	margin:0 0 0 0;
	background-color:black;
}

p
{
/*Larger space between p tags*/
margin:0px 0px 15px 0px;
padding:0px;
}

h3
{
margin: 5px 10px 0px 10px;
padding:0px;
}

h5
{
margin: 10px 10px 10px 10px;
padding:0px;
}

a:link
{
color:#FFFFFF;
}

/*properties used by canvasJS to format graphs*/
.chart {
float:left;
width: 50%;
height:100%;
}

/*Pushing down content so footer is placed at bottom even if content isen't filling up the page*/
.push {
clear:both;
height:40px;
width:100%;
bottom:0;
right:0;
left:0;
}

.wrapper {
min-height: 100%;
width:100%;
margin: 0 auto -40px;
}

/*Footer, menu CSS. Hover = hovering over a menuitem, menuItem = a clickable link in menu.*/
.menu
{
width:100%;/*Border at the bottom of the border, 1px*/ 
height:36px;
background-color:#3B6AA0;
text-align:center;/*putting the text at the middle of the item widthwise*/
top:0;
right:0;
left:0;
z-index:10;
position:fixed;
border-style:solid; 
border-left:0px; 
border-top:0px;
border-right:0px;
border-width:1px;
border-color:black;	
}

.footer{
clear:both;
width:100%;
height:36px;
background-color:#3B6AA0;
margin-top:15px;
margin-right:0%;
text-align:center;/*putting the text at the middle of the item widthwise*/
position:static;
z-index:10;
bottom:0;
right:0;
left:0;
border-style:solid;/*Border at the top of the border, 1px*/ 
border-left:0px; 
border-right:0px;
border-bottom:0px;
border-width:1px;
border-color:black;
}

.menuItem
{ 
height:100%;
float:left;
padding-left:2%;
padding-right:2%;
margin-left:2px;
margin-right:2px;
text-align:center;
vertical-align:middle;/*putting the text at the middle of the item heightwise*/
line-height:36px;/*putting the text at the middle of the item heightwise*/
color:white;
}

.batteryItem
{ 
	position:fixed;
	right:10px;
height:36px;
float:left;
margin-left:3%;
margin-right:3%;
text-align:center;
vertical-align:middle;/*putting the text at the middle of the item heightwise*/
line-height:36px;/*putting the text at the middle of the item heightwise*/
color:white;
}
.batteryItemLow
{ 
position:fixed;
right:10px;
height:36px;
float:left;
margin-left:3%;
margin-right:3%;
text-align:center;
vertical-align:middle;/*putting the text at the middle of the item heightwise*/
line-height:36px;/*putting the text at the middle of the item heightwise*/
color:red;
}

.hover
{ 
background-color:#345e8d;
border-radius:3px;
cursor: pointer;
height:26px;
float:left;
padding-left:2%;
padding-right:2%;
margin-left:2px;
margin-right:2px;
margin-top:5px;
text-align:center;
vertical-align:middle;/*putting the text at the middle of the item heightwise*/
line-height:26px;/*putting the text at the middle of the item heightwise*/
color:white;

}

.menuLine {
	height:17px;
	margin-top:8px;
	float:left;
	border-style:solid;
	border-right:0;
	border-top:0;
	border-bottom:0;
	border-width:1px;
	color:#345e8d;

}

/*Content is two columns, left and right (contentLeft and contentRight, these being float so they're located next to each other.)*/
.content/*No set height since heiht isen't know and might be bigger than windowsize*/
{
width:100%;
margin-top:60px;
}

.popupContent{
padding: 10px 10px 20px 10px;
width:60%;
z-index:12;
margin-top:57px;
background-color: rgba(255, 255, 255, 1);
border-radius:5px;
overflow: hidden;
}

.popupContentSides{
width:100%;
height:100%;
z-index:11;
position:fixed;
top:0;
left:0;
background-color: rgba(0, 0, 0, 0.5);
}

.popupContentLeft{
background-color: rgba(255, 255, 255, 1);
text-align: left;
float:left;
width:40%;
margin:0;
}

.popupContentRight{
margin:0;
background-color: rgba(255, 255, 255, 1);
float:right;
width:59%;
text-align: left;
}

/*Content on mobile device(small screen) single row.*/
.contentMobile
{
margin-top:3%;
margin-left:0%;
width:100%;
float:left;

}

.mobileMargin
{
 margin-left:3%;
 margin-top:-3%;
 margin-right:3%;
}

.contentLeft
{
margin-top:10px;
margin-left:10px;
margin-bottom:10px;
width:55%;
float:left;/*Floating, putting both contentLeft and contentRight next to each other*/
}
.contentLeftBig
{
margin-top:10px;
margin-left:10px;
margin-bottom:10px;
width:95%;
float:left;/*Floating, putting both contentLeft and contentRight next to each other*/
}

.contentRight
{	
margin-top:10px;
margin-bottom:10px;
margin-right:10px;	
width:40%;
float:left;
}

.contentRightSmall
{
	margin-top:10px;
	margin-bottom:10px;
	margin-right:10px;	
	width:0%;
	float:left;
}
.contentDividerRight
{
border-style:solid;
border-right:0px;
border-top:0px;
border-bottom:0px;
border-color:#3B6AA0;
}

.contentDividerLeft
{
border-style:solid;
border-left:0px;
border-top:0px;
border-bottom:0px;
border-color:#3B6AA0;
}

.about {
width:230px;	
height:300px;	
left:180px;
bottom:38;
position:fixed;
background-color:#E3E3E3;
border-radius:7px;
z-index:71;
padding-left:2%;
padding-right:2%;
margin-left:2px;
margin-right:2px;
border-style:solid;
border-width:1px;
border-color:#A6A6A6;
text-align:left;
color:black;
cursor:auto;
}

.aboutContent{
	cursor:pointer;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:70;
}

/*Different text CSS, regular, headings...*/
.logoText
{
color:#104E8B;
}

.ckboxText {
	margin-left:2%;
	font-size:80%;
	display: inline;
	font-weight: bold;
	line-height:80%;
}

.line
{
	margin-left:2%;
	color: #3B6AA0;
	height:2px;
	border:0;
	background-color: #3B6AA0;
	border-radius:50px;
}

.standard
{
margin-left:2%;
}

.buttonMap
{
margin-left:5%;
}

.standardQuad
{
margin-left:2%;
line-height:130%
}

.standardNoNewLine
{
margin-left:2%;
display:inline;
}

.header
{
color:#104E8B;
margin-left:2%;
margin-right:2%;
}

.smallHeader
{
color:#3A66A7;
margin-left:2%;
margin-right:2%;
}

.smallHeaderBold
{
color:#3A66A7;
margin-left:2%;
margin-right:2%;
font-weight: bold;
}

.smallHeaderNoNewLine
{
color:#3A66A7;
margin-left:2%;
margin-right:2%;
display:inline;
}

.smallHeaderLink
{
color:#3A66A7;
cursor: pointer;
margin-left:2%;
margin-right:2%;

}

/*Google map container*/
.angular-google-map-container 
{ 
height:100%;
width:100%; 
}

/*Screen = CSS for video and google map, slide = CSS for slideshow, frame = the frame around Screen and Slide.*/
.screen {
width:90%;
height:90%;	
position:absolute;
top:5%;
left:5%;
}
.screen2 {
width:92%;
height:92%;	
position:absolute;
top:4%;
left:4%;
}

.slide {	
width:90%;
height:90%;	
position:absolute;
top:5%;
left:5%;
}

.ckboxText {
margin-left:0px;
display: inline;
}

.inputbox{
font-size:18px;
font-family:Georgia;
color:#333;	
height:30px;
width:150px;
margin-bottom:10px;
/*
margin-top:0;
margin-bottom:4%;*/
}

.button{
padding-top:7px;
padding-bottom:3px;
font-family:Georgia;
color:#333;	
margin-bottom:4%;
}

.animate-show, .animate-hide {
  -webkit-transition:all linear 1s;
  -moz-transition:all linear 1s;
  -ms-transition:all linear 1s;
  -o-transition:all linear 1s;
  transition:all linear 1s;
}

.animate-show {
  opacity:0;
}

.animate-show.animate-show-active {
  opacity:1;
}

.animate-hide {
  opacity:1;
}

.animate-hide.animate-hide-active {
  opacity:0;
}

.frame {
width:90%;
height:50%;
padding:;
position:relative;
/*background-color:#CCCCCC;*/
background-color:#E3E3E3;
border-radius:10px;
}

.frameMobile {/*Frame for mobile devices (small screen)*/
width:90%;
height:90%;
position:relative;
/*background-color:#CCCCCC;*/
background-color:#E3E3E3;
border-radius:10px;
}

/*CSS for painting graphs*/
.graphLeft 
{
height:40%;
width:44%; 
display:inline-block; 
margin-bottom:4%;
margin-left:2%; 
margin-right:2%;
z-index:30;/*Making it go below footer and header when scrolled*/
}

.graphFull
{
	height:80%;
	width:90%; 
	display:inline-block; 
	margin-bottom:4%;
	margin-left:2%; 
	margin-right:2%;
	z-index:30;/*Making it go below footer and header when scrolled*/
}

.graphBig
{
height:60%;
width:44%; 
display:inline-block; 
margin-bottom:4%;
margin-left:2%; 
margin-right:2%;
z-index:30;/*Making it go below footer and header when scrolled*/
}




