	<html>
	<head>
		<title>QuadFace</title>
	
		{% load staticfiles %}
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular.min.js"></script>
		 <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular-animate.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.7/angular-resource.min.js"></script>
		<script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
		
		<script src="{% static "client/client.js" %}"></script>
		<script src="{% static "client/canvasjs-1/canvasjs.min.js" %}"></script>
		<script src="{% static "client/underscore-master/underscore-min.js" %}"></script>
		<script src="{% static "client/angular-google-maps-master/dist/angular-google-maps.js" %}"></script>
		
		<script type="text/javascript">
		    DJANGO_STATIC_URL = '{{ STATIC_URL }}';
		</script>
		
		<link rel="stylesheet" type="text/css" href="{% static "client/client.css" %}" />
		<link rel="stylesheet" type="text/css" href="{% static "client/animate.css-master/animate.css" %}" />
	</head>
	<!--App for the Angular application is client.-->
	<body ng-app="client" >
		<!--MenuCtrl is setting which view that should be seen on menuItem click-->
		<div ng-controller="MenuCtrl" class="wrapper">
			<div class="menu">
				<div id="welcomeDiv" class="menuItem" ng-class="{hover: hover1}" ng-mouseenter="hover1 = true" ng-mouseleave="hover1 = false" ng-click="showContent('welcome')">
					Home
			 	</div>
				<div id="communicationsDiv" class="menuItem" ng-class="{hover: hover2}" ng-hide="mobile" ng-mouseenter="hover2 = true" ng-mouseleave="hover2 = false" ng-click="showContent('communications')">
					Quadcopter Data
			 	</div>
				<div class="menuItem" id="videoDiv" ng-class="{hover: hover3}" ng-mouseenter="hover3 = true" ng-mouseleave="hover3 = false" ng-click="showContent('video')">
					Videostream
			 	</div>
				<div class="menuItem" id="mapsDiv" ng-class="{hover: hover4}" ng-mouseenter="hover4 = true" ng-mouseleave="hover4 = false" ng-click="showContent('maps')">
					Map
			 	</div>
		 	</div>
			<!--Index page, slideshow and some information about the page and quadcopter
			Generates left container for desktop or generate only one large container for mobile devices-->
			<div id="welcomeDivContent" class="content" ng-show='welcome' ng-controller="SlideCtrl">
 				<div  ng-init='currentIndex = 0'  class="{% verbatim %}{{contentClass}}{% endverbatim %}" >
					<center>
						<!--Slideshow-->
						<div class="{% verbatim %}{{frameClass}}{% endverbatim %}" ng-hide="mobile">
							<img  class="slide" ng-animate="{show:'animate-show', hide:'animate-hide'}"  ng-repeat="slide in slides" ng-show="isCurrentSlideIndex($index)" ng-src="{% verbatim %}{{slide.image}}{% endverbatim %}">
						</div>
						<h1 ng-hide="mobile" class="logoText"> Quadcopter Project </h1>
					</center>
					
					<!-- ==== Mobile version of the front page ==== -->
					<div ng-show="mobile" class="mobileMargin"> 
						<h1 class="logoText standard">Quadcopter Project</h1>
 						<h3 class="header">Welcome to the quadcopter mobile device GUI</h3>
						<h5 class="smallHeaderLink" ng-click="showContent('video')">Live Video</h5>
						<p class="standard">
						Come and watch the quadcopter in action. See whatever the quadcopter sees. A camera module is mounted onto the quadcopter and can send a stream to our web server.
						</p>
						<h5 class="smallHeaderLink" ng-click="showContent('maps')">Coordinates</h5>
						<p class="standard">
						This GUI makes the user able to see where the quadcopter is located, using a map module and live coordinates from the user. The user will also be able to create routes for the quadcopter through this map.
						</p>
 						<h3 class="header">About</h3>
						<h5 class="smallHeader">Mobile GUI</h5>
						<p class="standard">
						The quadcopter mobile GUI is a GUI more suitable for mobile devices. 
						</p>
					</div>
					<!--============================== -->
				</div>	
				
				<!-- ==== Right content container, hide for mobile devices ==== -->
				<div class="contentRight contentDividerRight" ng-hide="mobile">
 					<h3 class="header">Welcome to the quadcopter GUI</h3>
					<h5 class="smallHeaderLink" ng-click="showContent('video')">Live Video</h5>
					<p class="standard">
						Come and watch the quadcopter in action. See whatever the quadcopter sees. A camera module is mounted onto the quadcopter and can send a stream to our web server.
					</p>
					<h5 class="smallHeaderLink" ng-click="showContent('communications')">Dynamic data updates</h5>
					<p class="standard">
						The quadcopter can send a stream of dynamic data to our server, making it possible to see everything about the quadcopter dynamically. Everything from current battery level to engine load.
					</p>
					<h5 class="smallHeaderLink" ng-click="showContent('maps')">Coordinates</h5>
					<p class="standard">
						This GUI makes the user able to see where the quadcopter is located, using a map module and live coordinates from the user. The user will also be able to create routes for the quadcopter through this map.
					</p>
					<h5 class="smallHeader">Control it</h5>
					<p class="standard">
						Not only is the user able to watch a live stream from the quadcopter, the user will also be able to stear the quadcopter.
					</p>
 					<h3 class="header">About</h3>
					<h5 class="smallHeader">Quadcopter</h5>
					<p class="standard">
						Quadcopter is a project driven by five students on Linköpings Tekniska Högskola. It is about building a functional quadcopter. 
					</p>
					<h5 class="smallHeader">Web GUI</h5>
					<p class="standard">
						This GUI is a part of the quadcopter project and also a part of the course TDDD27, avancerad webbprogrammering. 
					</p>

 			 	</div>
				<!-- ================================== -->
		 	</div>
			<!-- Data coming from the quadcopter -->
			<div id="communicationsDivContent" ng-controller="GraphCtrl" class="content"  ng-if='communications'>
				<div class="contentLeft contentDividerLeft">
						<!--This is the graphs being painted on the page, can be hidden by the user -->
				 		<div id="xContainer" class="graphLeft" ng-show="xAngle">
				 		</div>
				 		<div id="yContainer" class="graphLeft" ng-show="yAngle">
				 		</div>
						<div id="zContainer" class="graphLeft" ng-show="zAngle">
						</div>
				 		<div id="aContainer" class="graphLeft" ng-show="aAngle">
				 		</div>
						<div id="bContainer" class="graphLeft" ng-show="bAngle">
						</div>
 				</div>
				<!--Controls for the quadcopter data, graphs can be hidden/showed, stream of data can be paused. --> 
				<div class="contentRight">
					<h3 class="header">Controls for Quadcopter data</h3>
					<h5 class="smallHeader">Which data to show:</h5>
					<input class="standard" type="checkbox" ng-model="xAngle" checked ng-click="setGraphVisability(xAngle)"><p class="ckboxText">Show X-angle Graph</p><br>
					<input class="standard" type="checkbox" ng-model="yAngle" checked ng-click="setGraphVisability(yAngle)"><p class="ckboxText">Show Y-angle Graph</p><br>
					<input class="standard" type="checkbox" ng-model="zAngle" checked ng-click="setGraphVisability(zAngle)"><p class="ckboxText">Show Z-angle Graph</p><br>
					<input class="standard" type="checkbox" ng-model="aAngle" checked ng-click="setGraphVisability(yAngle)"><p class="ckboxText">Show Y-angle Graph</p><br>
					<input class="standard" type="checkbox" ng-model="bAngle" checked ng-click="setGraphVisability(zAngle)"><p class="ckboxText">Show Z-angle Graph</p>
					
					<h5 class="smallHeader">Play/pause datastream:</h5>
					<button class="standard" type="button" ng-model="play" ng-click="setPlayPause()">play/pause</button>
				</div>
			</div>
			
			<div id="videoDivContent" class="content"  ng-show='video'>
 				<div   class="{% verbatim %}{{contentClass}}{% endverbatim %}" >
					<center>
					<div class="{% verbatim %}{{frameClass}}{% endverbatim %}">
						<!--Videoplayer-->
						
	 					<video  class="screen" controls autoplay preload="auto">
	 	  					<source src="http://192.168.0.186:8090/test.webm" type="video/webm", config: {'provider':'video','fullscreen':'true',}>
	 	  					Your browser does not support the video tag.
	 					</video>
				</div>
				</center>
 				</div>
				<div class="contentRight contentDividerRight" ng-hide="mobile">
					<h3 class="header">Video Stream</h3>
					<h5 class="smallHeader">Live</h5>
					<p class="standard">
						This is a live stream coming from the qudcopter. If the screen is black that means the camera is off. Please start the camera if you wish to watch the stream.
					</p>
					
				</div>
			</div>
			
  			<div id="mapsDivContent" class="content" ng-if='maps' ng-controller="MapCtrl">
				<div  class="{% verbatim %}{{contentClass}}{% endverbatim %}" >
					<center>
					<div class="{% verbatim %}{{frameClass}}{% endverbatim %}">
						<!--Google map-->
						<google-map id="gMap" draggable='true'  class="screen" center="map.center" zoom="map.zoom">
							<marker coords="quadPosition"></marker>
						</google-map>
					
					</div>	
					</center>
  				</div>
				<div class="contentRight contentDividerRight" ng-hide="mobile">
					<h3 class="header">Map</h3>
					<h5 class="smallHeader">Coordinates</h5>
					<p class="standard">
						The marker shown on the map is the last known location of the quadcopter.
					</p>
					<h5 class="smallHeader">Build route</h5>
					<p class="standard">
						In the future it will be possible from this GUI to build routes for the quadcopter.
					</p>
					
				</div>
			</div>
			<!--Pushing down the footer if content isen't filling up the page.-->
			<div class="push"></div>
		</div>
		<!--Footer-->
		<div class="footer">
			<div  class="menuItem">
				Trademark Quadis
		 	</div>
			<div  class="menuItem">
				<a href="mailto:martinnordn@gmail.com" target="_top"> Contact Us </a>
		 	</div>
		</div>
	</body>
</html>